# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app

# ide settings
.idea

# cmake temp files
# CMakeCache.txt
# CmakeFiles/

[tT]humbs.[dD][bB]

# Note: To check in binaries or libs, use `git add --force /bin/whatever.dll`.
/bin/
/lib/

# This is the intended place to generate CMake stuff in, i.e. the CMake binary dir.
/workspace/
